body{
    background-color: orange;
    background-image: url(img/cachorro-de-pelo-curto-confira-dicas-e-cuidados.jpg);
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#posso-fala{
    display: flex;
    position: absolute;
    height: 500px;
    width: 500px;
    top: 25%;
    left: 10%;
}

#fala-doido{
    display: flex;
    position: absolute;
    height: 500px;
    width: 500px;
    top: 25%;
    left: 61%;
}

.flex{
    display: flex;
}

.container{
    background-image: linear-gradient(wheat, rgb(245, 238, 226));
    display: inline-block;
    padding: 10;
    justify-content: center;
    position: absolute;
    top: 10%;
    left: 41%;
    box-shadow: 5px 10px rgb(165, 151, 125) ;
    overflow-y: auto;
    height: 700px;
    width: 300px;
    border: solid rgb(214, 178, 111) 10px;
    border-radius: 50px 0px 0px 50px;
}
.container::-webkit-scrollbar{
    background-color: bisque;
    width: 8px;
}
.container::-webkit-scrollbar-thumb{
    background-color: rgb(241, 175, 95);
    width: 8px;
    border-radius: 200px;
}

#permissao{
    display: none;
}
#quintalSeguro{
    display: none;
}

button{
    padding: 10;
    width: 50%;
}
#botao{
    width: 100%;
    display: flex;
    justify-content: center;
}

input{
    padding: 10;
}

textarea{
    resize: none;
}